
<h1><%= @park.name %></h1>
<h2>Admission Price: $<%= @park.price %></h2>
<h2>Average Thrill Rating: <%= @park.average_thrill_rating %>/10</h2>
<h3>Rides: </h3>



<ol>
<% @park.rides.alpha_sort.each do |ride| %>
  <li><%= ride.name %></li>
<% end  %>
</ol>
